.HomePage-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.sidenav {
  // Move sidebar down
  // top: 0;
  // margin: 64px 0px 0px 0px;
  position: fixed;
}
