// div {
//     height: 40%;
//     width: 40%;
//     border: black;
//     position: static; 
// }
// #homePost{
//     background-color: black;
//     width: 40%;
//     height: 40%;
//     padding: 10px;
//     position: static;
//     border-color: red;
//     border: 4px;

// }

.homePost{
//     background-color: red($color: #000000);
     border-radius: 25px;
     border: 2px solid #73AD21;
     padding: 20px;
     width: 400px;
     height: 150px;
//     border-color: black;
//     border:4px;

 }

// #test2{
//     background-color: black;
//     border-color: black;
//     border:4px;

// }
