.ItemPage-Title {
  font-size: 50px;
  color: #085f62;
}

#ItemPage-background {
  background-color: #f5e1da;
  width: 600px;
  margin: 0 auto;
}

#ItemPage-post {
  color: black;
  margin-top: 10px;
  background-color: #f1f1f1;
  height: auto;
}

#ItemPage-person {
  font-size: 30px;
}

#ItemPage-imageSize {
  width: 600px;
  margin-top: 10px;
}

#ItemPage-timeDate {
  color: black;
}

.body {
  position: absolute;
  bottom: 40px;
}
