.auth-wrapper {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 1rem;
  padding: 50px;
  max-width: 30rem;
  margin: 0 auto;
}
.cursor-pointer {
  cursor: pointer;
}
#logo {
  height: auto;
  width: 100%;
}
