
.button {
  background-color:  rgba(0, 153, 255, 0.753); /* Green */
  border-radius: 4px;
  border: none;
  border-color: white;
  color: whitesmoke;
  padding: 5px 5px;
  font-size: 14px;
  border-collapse: separate;
  position: absolute;

}

.divider{
  width:5px;
  height:auto;
  display: inline-block;
}

.text{
  font-family:"Courier New", Courier, monospace;
}

#deleteBtn{
  top: 205px;
  left: 30px;
}

// #messageBtn {
//   top: 205px;
//   left: 30px;
// }
