.button {
  background-color: rgba(0, 153, 255, 0.753); /* Green */
  border-radius: 4px;
  border: none;
  border-color: white;
  color: whitesmoke;
  padding: 5px 5px;
  font-size: 14px;
  border-collapse: separate;
  position: absolute;
  border-radius: 25px;
}

.item-image {
  height: 85%;
  width: 55%;
  float: right;
  top: 18px;
  right: 8px;
  position: absolute;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.text {
  font-family: 'Courier New', Courier, monospace;
}

#deleteBtn {
  top: 205px;
  left: 30px;
}

#post {
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 25px;
  border: 4px solid clear;
  box-shadow: 5px 8px 7px #888888;
  border-color: white;
  border-spacing: 15px 200px;
  border-collapse: separate;
  padding: 20px;
  width: 550px;
  height: 250px;
  display: block;
  position: relative;
}
