
body{
    background-color: #84500734;
}

div.gallery {
    margin: 10px;
    border: solid clear;
    float: center;
    width: 270px;
    height: 320;
    border-radius: 4px;
    box-shadow: 5px 13px 8px #888888;
    background-color: #ed8a634d;

  }
  
  #galleryImg {
    width: 230px;
    height: 240px;
    position:relative;
  }
