
  .gallery {
    margin: 10px;
    border: solid clear;
    float: center;
    width: 270px;
    height: 320px;
    border-radius: 4px;
    box-shadow: 5px 13px 8px #888888;
    background-color: #ed8a634d;

  }

  .grid-container{
    display: grid;
    //grid-template-columns: auto auto auto auto; 
  }
  #galleryImg {
    width: 230px;
    height: 240px;
    position:relative;
    right: 19px;
  }
