.to {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.sub {
  padding-top: 10px;
}

.messages {
  padding: 10px 10px 10px 210px;
  width: 100%;
}

.message {
  clear: both;
  margin-bottom: 5px;
  position: relative;
  padding: 5px;
  background: #f2f2f2;
  border-radius: 5px;
}

.message input {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 30px;
}

.message .sender {
  display: block;
  position: absolute;
  left: 40px;
  color: #000;
  font-weight: bold;
  width: 90px;
}

.message .title {
  display: inline-block;
  padding-left: 150px;
  width: 100%;
}

.message .date {
  position: absolute;
  right: 10px;
}
